<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidebar" #sidenav="matSidenav" mode="side" opened>
    <div class="button">
      <button routerLink="/home">Home</button>
      <button routerLink="/videogame-library">Videojuegos</button>
      <button routerLink="/tabletop-game-library">Juegos de Mesa</button>
      <button routerLink="/login">Logout</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
