<div class="title">
    <h1>Biblioteca de Videojuegos</h1>
</div>
<div class="search">
    <mat-form-field appearance="outline">
        <mat-label>Buscar juego</mat-label>
        <input matInput placeholder="Escribe un juego...">
    </mat-form-field>
    <button mat-raised-button class="button-filters">
        Filtros
    </button>
</div>


<div class="grid">

    @for (game of videogames; track game.id) {
    <mat-card class="card">

        <div class="image-container">
            <img mat-card-image [src]="game.image_route" [alt]="game.name" />
        </div>

        <mat-card-content class="name">
            {{ game.name }}
        </mat-card-content>

    </mat-card>
    }

</div>